 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Todos</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">
 </head>

 <body>
  <h1>Stuff I need to do.</h1>
  <form action="/todos" method="post">
    <input type="text" name="description">
    <button type="submit">Add</button>

  </form>
  <ul>
    {{#todos}}
      <li>
        <form action="/todos/{{_id}}/completed" method="post">
          {{description}} - {{done}} <button type="submit">Done</button>
        </form>
      </li>
    {{/todos}}
</ul>

<h3>Done</h3>
<ul>
{{#doneTodos}}
  <form action="/todos/{{_id}}/completed" method="post">
    {{description}} - {{done}} <button type="submit">Whoops!</button>
  </form>
{{/doneTodos}}
</ul>
 </body>

 </html>
